/* / styles.css / */

.limiter-menu-desktop {
  background-color: #333;
  /* / Background color of the navigation / */
  padding: 10px;
  /* / Padding around the navigation / */
}

.logo img {
  width: 65px;
  /* / Width of the logo image / */
  height: auto;
  /* / Maintain aspect ratio / */
  margin-left: 20px;
}

.menu-desktop {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.main-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-menu li {
  margin-right: 20px;
  /* / Spacing between menu items / */
}

.active-menu a {
  color: #fff;
  /* / Color of active menu item / */
  font-weight: bold;
  /* / Bold font for active menu item / */
}

a {
  text-decoration: none;
  /* / Remove underline from links / */
  color: #fff;
  /* / Default color for links / */
}

.icon-header-item {
  margin-left: 10px;
  /* / Spacing between icon items / */
  cursor: pointer;
  /* / Set cursor to pointer for interactive items / */
}

.icon-header-noti {
  position: relative;
}

.icon-header-noti::after {
  content: attr(data-notify);
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  /* / Background color for notification count / */
  color: #fff;
  /* / Text color for notification count / */
  border-radius: 50%;
  /* / Make it circular / */
  padding: 4px 8px;
  /* / Padding around notification count / */
  font-size: 12px;
  /* / Font size of notification count / */
}

.nav-item {
  color: black !important;
}

/* / ================= / */
/* .image-container {
  position: relative;
  display: inline-block;
} */


.overlay-text {
  /* / position: absolute; / */
  top: 5%;
  left: 26%;
  /* / transform: translate(-50%, -50%); / */
  background-color: #ffffffb3;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.admin_image {
  width: 100%;
}

.admin_change_password {
  border: none;
  text-decoration: underline;
  background-color: ghostwhite;

}

/* / 3april  / */

/* .image-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  
} */